html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-rows: auto 75vh auto;
  min-height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
}

.logo img {
  height: 60px;
}

nav {
  font-family: Nunito;
}

nav ul {
  list-style: none;
  display: inline-flex;
}

nav ul li {
  padding: 0 40px;
}

nav a,
nav a:link,
nav a:visited,
nav a:active{
    text-decoration: none;
    color: black;
    font-weight: 300;
}

nav a:hover {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

h1 {
  font-family: Nunito;
}


/* Main */

main {
  font-family: Lora, serif;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slideshow-items {
  position: relative;
  width: 100%;
  height: 100%;
}

.item {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;

}

.item-image-container {
  width: 60%;
  flex-basis: 51%;
}

.item-image-container::before {
  content: '';
  width: 101%;
  height: 101%;
  background: #22222A;
  opacity: 0;
  z-index: 1;
}

.item-image {
  position: relative;
  object-fit: cover;
  object-position: top;
  width: 100%;
  max-height: 100%;
  opacity: 0;
  display: block;
  /* transition: property name | duration | timing-function | delay  */
  transition: opacity .3s ease-out .45s;
}

.item.active .item-image {
  opacity: 1;
}

.item.active .item-image-container::before {
  opacity: .8;
}

.item-description {
  z-index: 2;
  font-size: calc(1.3vw);
  padding-top: 1%;
  font-weight: 700;
  overflow: hidden;
  width: 60%;
  flex-basis: 51%;
}

.item-header {
  position: absolute;
  left: 10%;
  z-index: 100;
  overflow: hidden;

}

.item-header .vertical-part {
  margin: 0 px;
  font-family: 'Lora', serif;
  font-weight: 400;
  -webkit-font-smoothing: auto;
  font-size: 10vw;
}

.vertical-part {
  display: inline-block;
}

.vertical-part {
  display: inline-block;
  transform: translateY(200%);
}


.item-header .vertical-part {
  transition: .5s;
}

.item-description .vertical-part {
  transition: .21s;
}

.item.active .item-header .vertical-part {
  transform: translateY(0);
}

.item.active .item-description .vertical-part {
  transform: translateY(0);
}

/*@media only screen and (max-width: 600px) {
  nav {
    display: none;
  }

  .projects .b {
    display: none;
  }

  .project {
    display: grid;
    width: 60%;
    height: 300px;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    margin: 0 auto;
    padding: 0;
  }
}
*/

/* Controls ----------------------------------------------------------------------*/
.controls {
  position: absolute;
  text-align: center;
  z-index: 1000;
  align-self: center;
  right: 20vh;
}

.controls ul {
  list-style: none;
}

.controls ul li {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin: 30px;
  background:#bdbdd5;;
  cursor: pointer;
}

.controls ul li.active {
  background:black;;
}


footer {
  display: flex;
  padding: 0.5rem 4rem;
  font-family: Nunito;
  font-weight: 100;
  font-size: 0.5rem;
}
